<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [22]:
import pandas as pd

Load the dataset into a dataframe.

In [23]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [24]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [29]:
# your code goes h
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [30]:
df.duplicated().value_counts()

False    11398
dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [33]:
missing_value=df.isna().sum()
missing_value

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [34]:
# your code goes here
mis_val=df.isnull()
for column in mis_val.columns.values.tolist():
    print(mis_val[column].value_counts())

False    11398
Name: Respondent, dtype: int64
False    11398
Name: MainBranch, dtype: int64
False    11398
Name: Hobbyist, dtype: int64
False    11398
Name: OpenSourcer, dtype: int64
False    11317
True        81
Name: OpenSource, dtype: int64
False    11398
Name: Employment, dtype: int64
False    11398
Name: Country, dtype: int64
False    11347
True        51
Name: Student, dtype: int64
False    11286
True       112
Name: EdLevel, dtype: int64
False    10661
True       737
Name: UndergradMajor, dtype: int64
False    11234
True       164
Name: EduOther, dtype: int64
False    11302
True        96
Name: OrgSize, dtype: int64
False    11333
True        65
Name: DevType, dtype: int64
False    11389
True         9
Name: YearsCode, dtype: int64
False    11385
True        13
Name: Age1stCode, dtype: int64
False    11382
True        16
Name: YearsCodePro, dtype: int64
False    11398
Name: CareerSat, dtype: int64
False    11397
True         1
Name: JobSat, dtype: int64
False    10905
True       493
Name: MgrIdiot, dtype: int64
False    10901
True       497
Name: MgrMoney, dtype: int64
False    10905
True       493
Name: MgrWant, dtype: int64
False    11398
Name: JobSeek, dtype: int64
False    11398
Name: LastHireDate, dtype: int64
False    10985
True       413
Name: LastInt, dtype: int64
False    11361
True        37
Name: FizzBuzz, dtype: int64
False    11395
True         3
Name: JobFactors, dtype: int64
False    11359
True        39
Name: ResumeUpdate, dtype: int64
False    11398
Name: CurrencySymbol, dtype: int64
False    11398
Name: CurrencyDesc, dtype: int64
False    10589
True       809
Name: CompTotal, dtype: int64
False    11192
True       206
Name: CompFreq, dtype: int64
False    10582
True       816
Name: ConvertedComp, dtype: int64
False    11276
True       122
Name: WorkWeekHrs, dtype: int64
False    11277
True       121
Name: WorkPlan, dtype: int64
False    11234
True       164
Name: WorkChallenge, dtype: int64
False    11390
True         8
Name: WorkRemote, dtype: int64
False    11366
True        32
Name: WorkLoc, dtype: int64
False    11393
True         5
Name: ImpSyn, dtype: int64
False    11397
True         1
Name: CodeRev, dtype: int64
False    8972
True     2426
Name: CodeRevHrs, dtype: int64
False    11369
True        29
Name: UnitTests, dtype: int64
False    11202
True       196
Name: PurchaseHow, dtype: int64
False    11360
True        38
Name: PurchaseWhat, dtype: int64
False    11387
True        11
Name: LanguageWorkedWith, dtype: int64
False    11264
True       134
Name: LanguageDesireNextYear, dtype: int64
False    10945
True       453
Name: DatabaseWorkedWith, dtype: int64
False    10356
True      1042
Name: DatabaseDesireNextYear, dtype: int64
False    10987
True       411
Name: PlatformWorkedWith, dtype: int64
False    10854
True       544
Name: PlatformDesireNextYear, dtype: int64
False    10005
True      1393
Name: WebFrameWorkedWith, dtype: int64
False    9781
True     1617
Name: WebFrameDesireNextYear, dtype: int64
False    9216
True     2182
Name: MiscTechWorkedWith, dtype: int64
False    9943
True     1455
Name: MiscTechDesireNextYear, dtype: int64
False    11369
True        29
Name: DevEnviron, dtype: int64
False    11364
True        34
Name: OpSys, dtype: int64
False    11316
True        82
Name: Containers, dtype: int64
False    9076
True     2322
Name: BlockchainOrg, dtype: int64
False    8788
True     2610
Name: BlockchainIs, dtype: int64
False    11300
True        98
Name: BetterLife, dtype: int64
False    11363
True        35
Name: ITperson, dtype: int64
False    11360
True        38
Name: OffOn, dtype: int64
False    11105
True       293
Name: SocialMedia, dtype: int64
False    11378
True        20
Name: Extraversion, dtype: int64
False    10891
True       507
Name: ScreenName, dtype: int64
False    11073
True       325
Name: SOVisit1st, dtype: int64
False    11393
True         5
Name: SOVisitFreq, dtype: int64
False    11397
True         1
Name: SOVisitTo, dtype: int64
False    11395
True         3
Name: SOFindAnswer, dtype: int64
False    11348
True        50
Name: SOTimeSaved, dtype: int64
False    9481
True     1917
Name: SOHowMuchTime, dtype: int64
False    11397
True         1
Name: SOAccount, dtype: int64
False    10270
True      1128
Name: SOPartFreq, dtype: int64
False    11392
True         6
Name: SOJobs, dtype: int64
False    11393
True         5
Name: EntTeams, dtype: int64
False    11398
Name: SOComm, dtype: int64
False    11313
True        85
Name: WelcomeChange, dtype: int64
False    9433
True     1965
Name: SONewContent, dtype: int64
False    11111
True       287
Name: Age, dtype: int64
False    11325
True        73
Name: Gender, dtype: int64
False    11275
True       123
Name: Trans, dtype: int64
False    10856
True       542
Name: Sexuality, dtype: int64
False    10723
True       675
Name: Ethnicity, dtype: int64
False    11258
True       140
Name: Dependents, dtype: int64
False    11379
True        19
Name: SurveyLength, dtype: int64
False    11384
True        14
Name: SurveyEase, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [35]:
# your code goes here

missing_value=df['WorkLoc'].isna().sum()

missing_value

32

In [36]:
miss_val=df.isnull()
print(miss_val['WorkLoc'].value_counts())

False    11366
True        32
Name: WorkLoc, dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [37]:
# your code goes here
value_counts=df['WorkLoc'].value_counts()
value_counts

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [38]:
#make a note of the majority value here, for future reference
#
df['WorkLoc'].value_counts().idxmax()

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [41]:
# your code goes here
import numpy as np

df['WorkLoc'].replace(np.nan, 'office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [42]:
# your code goes here
df['WorkLoc'].isna().sum()

0

In [65]:
print(df['ConvertedComp'].mean())
print(df['ConvertedComp'].median())

131596.7316197316
57745.0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [52]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [54]:
df.CompFreq.value_counts().index

Index(['Yearly', 'Monthly', 'Weekly'], dtype='object')

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [57]:
# your code goes here
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

# Create the new column 'NormalizedAnnualCompensation' using the function
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)
# Print the DataFrame to verify the changes
print(df)

       Respondent                      MainBranch Hobbyist  \
0               4  I am a developer by profession       No
1               9  I am a developer by profession      Yes
2              13  I am a developer by profession      Yes
3              16  I am a developer by profession      Yes
4              17  I am a developer by profession      Yes
...           ...                             ...      ...
11547       25136  I am a developer by profession      Yes
11548       25137  I am a developer by profession      Yes
11549       25138  I am a developer by profession      Yes
11550       25141  I am a developer by profession      Yes
11551       25142  I am a developer by profession      Yes

                                             OpenSourcer  \
0                                                  Never
1                             Once a month or more often
2      Less than once a month but more than once per ...
3                                                  Never
4      Less than once a month but more than once per ...
...                                                  ...
11547                                              Never
11548                                              Never
11549                            Less than once per year
11550  Less than once a month but more than once per ...
11551  Less than once a month but more than once per ...

                                              OpenSource          Employment  \
0      The quality of OSS and closed source software ...  Employed full-time
1      The quality of OSS and closed source software ...  Employed full-time
2      OSS is, on average, of HIGHER quality than pro...  Employed full-time
3      The quality of OSS and closed source software ...  Employed full-time
4      The quality of OSS and closed source software ...  Employed full-time
...                                                  ...                 ...
11547  OSS is, on average, of HIGHER quality than pro...  Employed full-time
11548  The quality of OSS and closed source software ...  Employed full-time
11549  The quality of OSS and closed source software ...  Employed full-time
11550  OSS is, on average, of LOWER quality than prop...  Employed full-time
11551  OSS is, on average, of HIGHER quality than pro...  Employed full-time

              Country Student  \
0       United States      No
1         New Zealand      No
2       United States      No
3      United Kingdom      No
4           Australia      No
...               ...     ...
11547   United States      No
11548          Poland      No
11549   United States      No
11550     Switzerland      No
11551  United Kingdom      No

                                                 EdLevel  \
0               Bachelor’s degree (BA, BS, B.Eng., etc.)
1      Some college/university study without earning ...
2            Master’s degree (MA, MS, M.Eng., MBA, etc.)
3            Master’s degree (MA, MS, M.Eng., MBA, etc.)
4               Bachelor’s degree (BA, BS, B.Eng., etc.)
...                                                  ...
11547        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11548        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11549        Master’s degree (MA, MS, M.Eng., MBA, etc.)
11550  Secondary school (e.g. American high school, G...
11551          Other doctoral degree (Ph.D, Ed.D., etc.)

                                          UndergradMajor  ...  \
0      Computer science, computer engineering, or sof...  ...
1      Computer science, computer engineering, or sof...  ...
2      Computer science, computer engineering, or sof...  ...
3                                                    NaN  ...
4      Computer science, computer engineering, or sof...  ...
...                                                  ...  ...
11547  Computer science, computer engineering, or sof...  ...
11548  Computer science, computer engineering, or sof...  ...
11549  Computer science, computer engineering, or sof...  ...
11550                                                NaN  ...
11551  A natural science (ex. biology, chemistry, phy...  ...

                                            SONewContent   Age Gender Trans  \
0      Tech articles written by other developers;Indu...  22.0    Man    No
1                                                    NaN  23.0    Man    No
2      Tech articles written by other developers;Cour...  28.0    Man    No
3      Tech articles written by other developers;Indu...  26.0    Man    No
4      Tech articles written by other developers;Indu...  29.0    Man    No
...                                                  ...   ...    ...   ...
11547  Tech articles written by other developers;Cour...  36.0    Man    No
11548  Tech articles written by other developers;Tech...  25.0    Man    No
11549  Tech articles written by other developers;Indu...  34.0    Man    No
11550                                                NaN  25.0    Man    No
11551  Tech articles written by other developers;Tech...  30.0    Man    No

                     Sexuality                              Ethnicity  \
0      Straight / Heterosexual           White or of European descent
1                     Bisexual           White or of European descent
2      Straight / Heterosexual           White or of European descent
3      Straight / Heterosexual           White or of European descent
4      Straight / Heterosexual  Hispanic or Latino/Latina;Multiracial
...                        ...                                    ...
11547  Straight / Heterosexual           White or of European descent
11548  Straight / Heterosexual           White or of European descent
11549  Straight / Heterosexual           White or of European descent
11550  Straight / Heterosexual           White or of European descent
11551                 Bisexual           White or of European descent

      Dependents           SurveyLength                  SurveyEase  \
0             No  Appropriate in length                        Easy
1             No  Appropriate in length  Neither easy nor difficult
2            Yes  Appropriate in length                        Easy
3             No  Appropriate in length  Neither easy nor difficult
4             No  Appropriate in length                        Easy
...          ...                    ...                         ...
11547         No  Appropriate in length                   Difficult
11548         No  Appropriate in length  Neither easy nor difficult
11549        Yes               Too long                        Easy
11550         No  Appropriate in length                        Easy
11551         No  Appropriate in length                        Easy

      NormalizedAnnualCompensation
0                          61000.0
1                         138000.0
2                          90000.0
3                         348000.0
4                          90000.0
...                            ...
11547                     130000.0
11548                      74400.0
11549                     105000.0
11550                      80000.0
11551                          NaN

[11398 rows x 86 columns]

## Authors

In [58]:
df['NormalizedAnnualCompensation'].median()

100000.0

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).